@using OnlineBooking.Domain.Dtos
@model BookingModel

@{
    ViewData["Title"] = "Details";
}

<h2>დეტალები</h2>

<div class="card shadow-sm mt-4">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.checkInTime)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.checkInTime)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.checkOutTime)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.checkOutTime)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.totalPrice)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.totalPrice)
            </dd>
        </dl>
        <div class="mt-3">
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fas fa-edit"></i> რედაქტირება</a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger"><i class="fas fa-trash"></i> წაშლა</a>
            }
      
            
            <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> უკან დაბრუნება</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
}
