@using OnlineBooking.Domain.Dtos
@model IEnumerable<BookingModel>

@{
    ViewData["Title"] = "Bookings";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.checkInTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.checkOutTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.checkInTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.checkOutTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalPrice)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RoomId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.RoomId" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.RoomId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Booking</a>
</p>