@using OnlineBooking.Domain.Dtos
@model IEnumerable<HotelModel>

@{
    ViewData["Title"] = "IT Step";
}

<div class="text-center mt-5">
    <h1 class="display-4 mb-3">კეთილი იყოს თქვენი მობრძანება</h1>
    <p class="lead">გაიგე მეტი <a href="https://learn.microsoft.com/aspnet/core" class="text-decoration-none">IT STEP GEORGIA</a>.</p>
</div>

<form method="get" asp-action="Search" asp-controller="Home" class="mb-4">
    <div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Search by name or city" value="@Context.Request.Query["query"]">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>

<div class="container mt-5">
    <div class="row">
        @foreach (var hotel in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100 shadow-sm">
                    <img class="card-img-top img-fluid img-thumbnail" src="@Url.Content(hotel.PicturePath)" alt="@hotel.Name">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-bold">@hotel.Name</h5>
                        <p class="card-text mt-auto">@hotel.Address</p>
                        <div>
                            <h6>Rooms:</h6>
                            <ul class="list-unstyled">
                                @foreach (var room in hotel.Rooms)
                                {
                                    <li>
                                        <strong>@room.Name</strong> - @room.PricePerDay $/day - @if (room.isAvailable)
                                        {
                                            <span class="text-success">Available</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">Not Available</span>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-top-0">
                        <a asp-controller="BookRelated" asp-action="Create" class="btn btn-secondary btn-block">Book Now</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
}
