@using OnlineBooking.Domain.Dtos
@model HotelModel
@{
    ViewData["Title"] = "Details";
}

<h2>დეტალები</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PicturePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PicturePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">რედაქტირება</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-secondary">წაშლა</a>
    <a asp-action="Index" class="btn btn-secondary">უკან დაბრუნება</a>
</div>
